@font-face {
	font-family: Gerbera;
	font-display: swap;
	src: url("../fonts/Gerbera-Bold.woff2") format("woff2"), url("../fonts/Gerbera-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Gerbera;
	font-display: swap;
	src: url("../fonts/Gerbera-Medium.woff2") format("woff2"), url("../fonts/Gerbera-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: SofiaProMedium;
	font-display: swap;
	src: url("../fonts/SofiaProMedium.woff2") format("woff2"), url("../fonts/SofiaProMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: SofiaProBold;
	font-display: swap;
	src: url("../fonts/SofiaProBold.woff2") format("woff2"), 
	url("../fonts/SofiaProBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Gerbera;
	font-display: swap;
	src: url("../fonts/Gerbera.woff2") format("woff2"), url("../fonts/Gerbera.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SofiaProSemiBold;
	font-display: swap;
	src: url("../fonts/SofiaProSemiBold.woff2") format("woff2"), 
	url("../fonts/SofiaProSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: SofiaProRegular;
	font-display: swap;
	src: url("../fonts/SofiaProRegular.woff2") format("woff2"), url("../fonts/SofiaProRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
