// Заголовки, общие БЄМ блоки и проче...
.button {
	display: inline-block;
	//font-weight: 800;
	color: #279653;
	font-size: rem(18);
	line-height: math.div(28, 18);
	font-weight: 500;
	padding: rem(12) rem(33);
	border-radius: rem(12);
	border: 1px solid rgba(39, 150, 83, 0.25);
	background: #F1FCF6;
	transition: background-color 0.3s ease 0s;
	&:hover {
		// background-color: #5a53b9;
		// color: #fff;
	}
	&_blue {
		// background-color: #3730A3;
		// color: #fff;
		&:hover {
			// background-color: #5a53b9;
		}
	}
	@media (max-width: $mobile) {
		// padding: rem(12) rem(15);		
	}
}